.plant-selector{
  max-width: 200px;
}
.plant-image-btn{
  width: 200px;
  height: 200px;
}
.plant-image-thumb{
  max-height: 200px;
  max-width: 200px;
}
.thumbnail{
  width: 242px;
  text-align: center;
}
#fileupload {
    display: none;
}
.custom-file-upload {
  /*
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    */
    cursor: pointer;
}
